<%= form_for @article, as: :article, url: admin_companies_path do |f| %>
  <%= render 'layouts/admin/errors', _models: @article %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :brief %>
    <%= f.text_area :brief, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :content %>
    <%#= tinymce :theme => "simple", :language => "de", :plugins => ["wordcount", "paste"] %>
    <%= f.text_area :content, :class => "tinymce", :rows => 20, :cols => 60 %>
  </div>

  <div class="actions">
    <%= f.submit "提交", class: "btn btn-primary" %>
  </div>
<% end %>
<script type="text/javascript">
  tinyMCE.init({
    selector: 'textarea.tinymce',
    plugins: 'preview fullscreen code image imagetools media link lists table textcolor',
    fontsize_formats: '12px 14px 16px 18px 20px 22px 24px 26px 28px 30px',
    font_formats: 'Arial=arial,helvetica,sans-serif;  仿宋_GB2312=仿宋_GB2312;',
    toolbar: 'formatselect | fontselect |fontsizeselect | bold italic strikethrough forecolor backcolor removeformat | link image | alignleft aligncenter alignright alignjustify | numlist bullist outdent indent | fullscreen preview',
    readonly: $('textarea.tinymce').attr('readonly') == 'readonly',
    language: 'zh_CN',
    images_upload_handler: function (blobInfo, success, failure) {
      formData = new FormData();
      formData.append('image[attachment]', blobInfo.blob(), blobInfo.filename());
      $.ajax({
        type: 'POST',
        url: '/admin/articles/images',
        dataType: "json",
        data: formData,
        processData: false,
        contentType: false,
        success: function (data) {
          console.log(data)
          if (data.status == 'success') {
            console.log(data.url)
            success(data.url);
          } else {
            failure(data.msg);
          }
        },
        error: function () {
          failure('服务器繁忙，请稍后重试！');
        }
      });
    }
  });
</script>
