<%= form_for([:admin, @swiper]) do |f| %>
  <%= render 'layouts/admin/errors', _models: @swiper %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control'  %>
  </div>
  <div class="form-group">
    <%= f.label :url %>
    <%= f.file_field :url, class: 'form-control'  %>
  </div>
  <div class="form-group">
    <%= f.label :position %>
    <%= f.text_field :position, class: 'form-control'  %>
  </div>
  <div class="form-group">
    <%= f.label :category %>
    <%#= f.select :category, class: 'form-control'  %>
    <%= f.select :category, [['', ''], ['大图', 'big'], ['小图', 'small']], {}, {class: "form-control"} %>
  </div>
  <div class="form-group">
    <%= f.label :link %>
    <%= f.text_field :link, class: 'form-control'  %>
  </div>
  <%= f.submit '提交', class: 'btn btn-primary' %>  
<% end %>
