<% if Swiper.where(category: 'big').present? %>
<div style="width: 100%; height: 542px; margin-bottom: 20px; position: relative;">
  <div
    style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff"
    class="swiper mySwiper2"
  >
    <div class="swiper-wrapper">
      <% Swiper.where(category: 'big').order(position: :desc).each do |swiper| %>
      <div class="swiper-slide">
        <%= link_to swiper.link do %>
          <%= image_tag swiper.url.url %>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
  <div thumbsSlider="" class="swiper mySwiper">
    <div class="swiper-wrapper">
      <% Swiper.where(category: 'big').order(position: :desc).each do |swiper| %>
      <div class="swiper-slide">
        <%= swiper.title %>
      </div>
      <% end %>
    </div>
  </div>
</div>
<% end %>
<div class="direction-row">
  <div class="news-swiper">
    <div class="swiper-wrapper">
      <% Swiper.where(category: ['', 'small']).order(position: :desc).each do |swiper| %>
      <div class="swiper-slide">
        <%= link_to swiper.link do %>
          <%= image_tag swiper.url.url %>
        <% end %>
        <div class="swiper-item-title"><p><%= swiper.title %></p></div>
      </div>
      <% end %>
    </div>
    <div class="swiper-pagination"></div>
  </div>

  <div class="direction-column flex-item" style="margin-left: 40px;">
    <div class="news-loop direction-column">
      <h2 class="group-title">
        <div class="hover-cateory">
          <% @news.descendants.each_with_index do |c,index| %>
            <span class="<%= 'current' if index == 0 %>" style="cursor: pointer;"><%= c.name %></span>
          <% end %>
        </div>
        <%= link_to '更多', category_path(@news) %>
      </h2>
      <% @news.descendants.each_with_index do |c,index| %>
      <div class="direction-column news-list" style="<%= 'display: none;' if index != 0 %>">
        <% Article.where(article_category_id: c.id).limit(3).order(created_at: :desc).each do |article| %>
        <dl>
          <dt>
            <%= link_to article_path(article) do %>
              <%= article.title %> <%= article.created_at.strftime("%Y-%m-%d")%>
            <% end %>
          </dt>
        </dl>
        <% end %>
      </div>
      <% end %>
    </div>
    <div class="center direction-column">
      <h2 class="group-title"> 中心简介 </h2>
      <div class="satcm-content">
        <%= ArticleCategory.find_by(name: '首页中心简介').articles.first.brief %>
      </div>
    </div>
  </div>
</div>
<div class="hr"></div>
<div class="direction-column">
  <h2 class="group-title"> 科室建设 </h2>
  <div class="department">
    <div class="item-list" style="justify-content: space-around;">

      <%
        keys = ["战略规划处", "政策研究处", "综合统计处", "信息化建设处", "医疗服务评价处", "健康医疗大数据处", "专项调查处", "项目监管处"]
        keys.map{|name| ArticleCategory.find_by(custom_key: name)}.each do |category|
      %>
        <% unless category.nil? %>
          <%= link_to category.name.html_safe, office_path(category.id) %>
        <% end %>
      <% end %>
    </div>
    <%
      office_build_articles = Article.where(article_category_id: ArticleCategory.find_by(name: '科室建设').descendants.pluck(:id)).order(created_at: :desc)
    %>
    <div class="item-news direction-column">
      <% office_build_articles.limit(3).each do |article|%>
        <%= link_to article_path(article) do %>
          <p style="display: -webkit-box; overflow: hidden; text-overflow: ellipsis; -webkit-line-clamp: 2; -webkit-box-orient: vertical;"><%= article.title %></p>
        <% end %>
      <% end %>
    </div>
    <ul class="item-link direction-column">
      <% office_build_articles.offset(3).limit(5).each do |article| %>
      <li>
        <%= link_to article_path(article) do %>
          <p>[<%= article.article_category.name -%>]</p>
          <div style="display: -webkit-box; overflow: hidden; text-overflow: ellipsis; -webkit-line-clamp: 1; -webkit-box-orient: vertical;">
            <%= truncate("#{article.created_at.strftime("%Y-%m-%d")} #{article.title}", length: 30) %>
          </div>
        <% end %>
      </li>
      <% end %>
    </ul>
  </div>
</div>
<div class="direction-row" style="justify-content: space-between; margin-top: 28px;">
  <div class="welcome-left direction-column">
    <h2 class="group-title"> 党群建设 </h2>
    <% GroupBanner.all.order(position: :desc).each do |banner| %>
      <%= link_to banner.link, target: "_blank" do %>
        <%= image_tag banner.path.url, width: '100%' %>
      <% end %>
    <% end %>
    <ul class="parties-building">
      <%
        group_article = Article.where(article_category_id: ArticleCategory.find_by(name: '党群建设').descendants.pluck(:id)).order(created_at: :desc)
      %>
      <% group_article.limit(8).each do |article| %>
        <li><%= link_to truncate(article.title, length: 20), article_path(article) %></li>
      <% end %>
    </ul>
    <h2 class="group-title"> 学术研究 </h2>
    <% ScientificBanner.all.where(home_enabled: true).order(position: :desc).each do |banner| %>
      <%= link_to "#{banner.link}", target: "_blank" do %>
        <%= image_tag banner.path.url, width: '100%' %>
      <% end %>
    <% end %>
    <ul class="learning">
      <%
        study_article = Article.where(article_category_id: ArticleCategory.find_by(name: '学术研究').descendants.pluck(:id)).order(created_at: :desc)
      %>
      <% study_article.limit(8).each do |article| %>
        <li><%= link_to truncate(article.title, length: 16), article_path(article) %></li>
      <% end %>
    </ul>
  </div>
  <div class="welcome-right direction-column">
    <h2 class="group-title"> 信息发布 </h2>
      <%
        message = ArticleCategory.find_by(name: '信息发布').descendants
      %>
      <% message.limit(3).each do |category| %>
        <dl class="notice">
          <dt><%= category.name %></dt>
          <dd>
            <% category.articles.limit(4).order(created_at: :desc).each do |article| %>
              <%= link_to article.title, article_path(article) %>
            <% end %>
          </dd>
        </dl>
      <% end %>
    <h2 class="group-title"> 数据平台 </h2>
    <ul>
      <% ImageLink.all.order(position: :desc).each do |il| %>
      <li>
        <%= link_to il.link, target: "_blank" do %>
          <%= image_tag il.path.url, width: "100%" %>
        <% end %>
      </li>
      <% end %>
    </ul>
  </div>
</div>
<%= content_for :script do %>
<script type="text/javascript">

  $(document).ready(function() {
    $(".hover-cateory span").click(function() {
      $(".news-list").hide();
      $(".news-list").eq($(this).index()).css('display','flex')
      $(this).addClass('current').siblings('span').removeClass("current")
    })
    new Swiper('.news-swiper',{
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
      autoplay: {
        delay: 10000, //10秒切换一次
      },
    });
    var swiper = new Swiper(".mySwiper", {
      spaceBetween: 10,
      slidesPerView: 6,
      freeMode: true,
      direction : 'vertical',
      watchSlidesProgress: true,
      autoplay: {
        delay: 2000, //10秒切换一次
      }
    });
    var swiper2 = new Swiper(".mySwiper2", {
      spaceBetween: 10,
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
      thumbs: {
        swiper: swiper,
      },
      autoplay: {
        delay: 2000, //10秒切换一次
      }
    });
  });
</script>
<% end %>
<style>
  .mySwiper2 {
    width:  100%;
    height: 542px;
    overflow: hidden;
  }
  .mySwiper {
    background: rgba(0, 0, 0, 0.4);
    width: 40%;
    height:  542px;
    box-sizing: border-box;
    padding: 10px 0;
    overflow: hidden;
    position: absolute;
    right:  0;
    top:  0;
    z-index: 10;
  }

  .mySwiper .swiper-slide {
    width: 95%;
    color: #FFF;
    padding: 10px 10px;
    box-sizing: border-box;
    line-height: 1.5;
  }
  .mySwiper .swiper-slide:hover{
    cursor: pointer;
    background-image: linear-gradient(to right, rgba(191, 6, 20, 1) 0% , rgba(191, 6, 20, 0) 100%);
    font-weight: bold;
  }
  .mySwiper .swiper-slide-thumb-active {
   background-image: linear-gradient(to right, rgba(191, 6, 20, 1) 0% , rgba(191, 6, 20, 0) 100%);
  }
  .swiper-slide a {
    display: block;
    width: 100%;
    height: 100%;
  }
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
</style>