<%= form_for([:admin, @navigation_bar]) do |f| %>
  <% if @navigation_bar.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@navigation_bar.errors.count, "error") %> prohibited this navigation_bar from being saved:</h2>

      <ul>
      <% @navigation_bar.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
      <%= f.label :name %><br>
    <%= f.text_field :name %>
    </div>
  <div class="field">
      <%= f.label :url %><br>
    <%= f.text_field :url %>
    </div>
  <div class="field">
      <%= f.label :custom_order %><br>
    <%= f.number_field :custom_order %>
    </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
