<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @navigation_bar.name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @navigation_bar.url %>
</p>

<p>
  <strong>Custom order:</strong>
  <%= @navigation_bar.custom_order %>
</p>

<%= link_to 'Edit', edit_admin_navigation_bar_path(@navigation_bar) %> |
<%= link_to 'Back', admin_navigation_bars_path %>
