<%= form_for([:admin, @group_banner]) do |f| %>
  <% if @group_banner.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group_banner.errors.count, "error") %> prohibited this group_banner from being saved:</h2>

      <ul>
      <% @group_banner.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
      <%= f.label :path %><br>
    <%= f.text_field :path %>
    </div>
  <div class="field">
      <%= f.label :link %><br>
    <%= f.text_field :link %>
    </div>
  <div class="field">
      <%= f.label :position %><br>
    <%= f.number_field :position %>
    </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
