<div class="footer direction-column">
  <div class="container" style="justify-content: space-between;">
    <div>
      <div class="links direction-column">
        <h6>兄弟单位</h6>
        <div style="display: block">
          <select class="select2" style="width: 100%">
            <% Link.where(category: 'brother').each do |l| %>
              <option value="<%= l.path %>"> <%= l.name %> </option>
            <% end %>
          </select>
        </div>
      </div>
      <div class="links direction-column">
        <h6>友情连接</h6>
        <div style="display: block">
          <select class="select2" style="width: 100%">
            <% Link.where(category: 'friend').each do |l| %>
              <option value="<%= l.path %>"> <%= l.name %> </option>
            <% end %>
          </select>
        </div>
      </div>
    </div>
    <div style="display: block; text-align: center ;">
      <%= image_tag @setting.qrcode.url, width: 70 %>
      <p>官方微信</p>
    </div>
  </div>
  <div class="container" style="align-items: center;">

    <script type="text/javascript">
      document.write(unescape("%3Cspan id='_ideConac' %3E%3C/span%3E%3Cscript src='https://dcs.conac.cn/js/33/000/0000/61004235/CA330000000610042350003.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <div class="direction-column">
      <p>地址: <%= @setting.address %> &nbsp;电话: <%= @setting.tel %> &nbsp;联系邮箱: jctjzx2021@126.com</p>
      <p style="margin-top:5px">Copyright 国家中医药管理局监测统计中心 All Rights Reserved </p>
    </div>
  </div>
  <div style="width:300px;margin:0 auto; padding:20px 0;">
    <a target="_blank" href=" " style="display:inline-block;text-decoration:none;height:20px;line-height:20px;">
        <%= image_tag 'ba.jpg', style: "float:left"%>
      <p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px;">京公网安备 11010502047684号</p >
    </a >
  </div>

</div>

<script type="text/javascript">
  $(".select2").select2().on('select2:select', function(e) {
    var data = e.params.data;
    window.open(data.id)
    })
</script>

