<div class="footer direction-column">
  <div class="container" style="justify-content: space-between;">
    <div>
      <div class="contact direction-column" style="justify-content: center; ">
        <h6>联系我们</h6>
        <p>地址: <%= @setting.address %></p>
        <p>电话: <%= @setting.tel %></p>
        <p>联系邮箱: jctjzx2021@126.com</p>
      </div>
      <div class="links direction-column">
        <h6>兄弟单位</h6>
        <div style="display: block">
          <select class="select2" style="width: 100%">
            <% Link.where(category: 'brother').each do |l| %>
              <option value="<%= l.path %>"> <%= l.name %> </option>
            <% end %>
          </select>
        </div>
      </div>
      <div class="links direction-column">
        <h6>友情连接</h6>
        <div style="display: block">
          <select class="select2" style="width: 100%">
            <% Link.where(category: 'friend').each do |l| %>
              <option value="<%= l.path %>"> <%= l.name %> </option>
            <% end %>
          </select>
        </div>
      </div>
    </div>
    <div style="display: block; text-align: center ;">
      <%= image_tag @setting.qrcode.url, width: 70 %>
      <p>官方微信</p>
    </div>

  </div>
  <div style="margin: 30px 0 0; align-items: center; justify-content: center; "> 版权信息 京ICP备2021031206号 </div>
</div>

<script type="text/javascript">
  $(".select2").select2().on('select2:select', function(e) {
    var data = e.params.data;
    window.open(data.id)
    })
</script>