<!DOCTYPE html>
<html>
<head>
  <title><%= @setting.title %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="Keywords" content="<%= @setting.keywords %>">
  <meta name="description" content="<%= @setting.description %>">
  <%= csrf_meta_tags %>
</head>
<body class="body <%= controller_name %>">
  <% if controller_name == 'welcome' %>
    <div class="home <%= controller_name %> direction-column">
  <% end %>
  <%= render 'layouts/header' %>
  <div class="container <%= " direction-column" if controller_name == "welcome"-%> ">
    <%= yield %>
  </div>
  <% if controller_name == 'welcome' %>
    </div>
  <% end %>
  <%= render 'layouts/footer' %>
  <%= yield(:script) %>

</body>
</html>
